header { 
    background-color: #f3f3f3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo-titulo {
    display: flex;
    align-items: center;
}
.logo-titulo img {
    margin-right: 10px;
}
.logo-titulo a {
    text-decoration: none;
    color: inherit;
}
nav a, nav button { 
    margin: 0 10px; 
    text-decoration: none; 
    color: #000; 
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
#btnRegistrarse {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#btnInicio {
    background-color: #FF0000; /* Rojo */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#btnCerrarSesion {
    background-color: #FF0000; /* Rojo */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#btnRegistrarse:hover {
    background-color: #45a049;
}
#btnInicio:hover {
    background-color: #b81414;
}
#btnCerrarSesion:hover {
    background-color: #b81414;
}
/* CSS FORMULARIOS */
.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: auto;
}
.close { 
    color: #aaa; 
    float: right; 
    font-size: 28px; 
    font-weight: bold; 
}
.close:hover, .close:focus { 
    color: black; 
    text-decoration: none; 
    cursor: pointer; 
}
input[type=text], input[type=email], input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}
#btnformulario, #btnPagarInscribirse, #btnformularioLogin{ 
    background-color: #4CAF50; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer;
    width: 100%; 
}
.recuerdame {
    display: flex;
    align-items: center;
}
.recuerdame label {
    margin-left: 10px;
    font-size: 14px;
}
#mensaje{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 100;
}
.selector{
    margin-bottom: 5px;
}
#btnRegistrarseModal, #btnLoginModal{
    font-size: 100%; 
    text-decoration: underline;
    border: none;
    background: none;
    cursor: pointer; 
    padding: 0;
    color: blue;
}